<h2><%= @user.name %></h2>
<p>Email address: <%= @user.email %></p>
<p>Member for <%= time_ago_in_words(@user.created_at) %></p>

<h3>Products</h3>
<% if @user.products.blank? %>
	<p>No products yet.</p>
<% else %>
	<ul>
		<% @user.products.each do |product| %>
		<li><%= link_to product.title, product_path(product) %></li>
		<% end %>
	</ul>
<% end %>