<% if model.errors.any? %>
	<div class="alert alert-danger">
		<p>
			<%= pluralize(model.errors.count, "error") %>
			<%= "prohibited this #{model.class.name} from being saved:" %>
		</p>
		<ul>
			<% model.errors.full_messages.each do |message| %>
			<li>
				<%= message %>
			</li>
			<% end %>
		</ul>
	</div>
<% end %>